.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.title {
    font-size: 2rem;
    margin-top: 2rem;
}

.formwrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 80%;
    /* padding-top: 3rem; */
    /* border: 2px solid red; */
}

.contactBtn {
    height: 3rem;
    font-weight: 700;
    font-size: 1rem;
    box-shadow: 0 2px 2px 0 black;

}

.linkedin {
    background-color: rgb(37, 55, 80);
    padding: 0.75rem 2rem;
}

.email {
    padding: 0 2rem;
}

.required {
    color: rgb(197, 108, 108);
    font-weight: 600;
    font-size: 1.2rem;
}

.submit {
    background-color: rgb(56, 54, 54);
    /* width: 40%; */
    width: 80vw;
    cursor: pointer;
    padding: 5px;
    margin: auto;
    margin-top: 1rem;
    color: white;
    font-weight: 700;
}

@media (min-width: 600px) {

    .formwrapper {
        width: 35rem;
    }

    .email:hover {
        transform: scale(1.03);
        cursor: pointer;
        box-shadow: 0 5px 5px 0 black;
    }

    .email:active {
        transform: scale(0.95);
    }

    .linkedin:hover {
        transform: scale(1.03);
        box-shadow: 0 5px 5px 0 black;
    }

    .linkedin:active {
        transform: scale(0.95);
    }

    .submit {
        width: 40%;
    }

    .submit:hover {
        color: rgb(31, 28, 28);
        background: rgb(110, 108, 108);
    }

    .submit:active {
        transform: scale(0.95);
    }

    .break {
        width: 40vw;
    }
}