.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.formwrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
}


.linkedin {
    background-color: rgb(37, 55, 80);
    /* position: absolute; */
    height: 3rem;
    font-weight: 700;
    border-radius: 5px;
    padding: 0.75rem 2rem;
    box-shadow: 0 2px 2px 0 black;
}

.linkedin:hover {
    transform: scale(1.03);
    box-shadow: 0 5px 5px 0 black;
}

.email:hover {
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: 0 5px 5px 0 black;
}

.email {
    height: 3rem;
    padding: 0 2rem;
    font-weight: 700;
    box-shadow: 0 2px 2px 0 black;

}

.break {
    width: 30vw;
    height: 1px;
    background: rgb(165, 160, 160);
}