*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  /* background-color: rgba(86, 145, 86, 0.144); */
}

:root {
  --var-bg-a: #2B2B2B;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e4e1e1;
}

::-webkit-scrollbar-thumb {
  background: var(--var-bg-a);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(19, 18, 18);
  color: white;
  overflow-x: hidden;
}

.container-main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
  word-break: break-all;
}

ul {
  list-style: none;
}

.navbar {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 200;
  height: 2.5rem;
}

.navbar-desktop {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  opacity: 1;
  background-color: rgb(43, 40, 40);
  z-index: 20 !important;
  width: fit-content;
  padding: 1rem 1rem;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.navbar-mobile {
  left: 1rem;
  top: 3rem;
  font-size: 2rem;
  margin-top: 5px;
  background: none;
  border: none;
  color: inherit;
}

.title {
  font-weight: 300;
  letter-spacing: 2px;
}

header {
  display: flex;
  flex-direction: column;
}

.header-title {
  position: absolute;
  width: 100%;
  text-align: center;
  background: none;
  font-weight: 200;
  pointer-events: none;
  word-wrap: break-word;
  display: none;
}

.bg-col-a {
  background-color: var(--var-bg-a);
}

.font-sm {
  font-weight: 200;
  /* word-break: break-all; */
}

.font-md {
  font-weight: 400;
  word-break: break-all;
}

.text-sm {
  font-size: 2.3rem;
}

.text-md {
  font-size: 3rem;
}

.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0.02;
  filter: grayscale(1);
  user-select: none;
  pointer-events: none;
  background: none !important;
  z-index: 20;
}

.icon {
  font-size: 3rem;
}

.footer-icons {
  font-size: 2rem;
}


.icon-grid {
  display: grid;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(2, 20%);
  margin-top: 2rem;
  row-gap: 3rem;
  column-gap: 2rem;
  justify-content: center;
  padding-bottom: 5rem;
}

.icon-title {
  font-size: 1rem;
}

.btn-project {
  display: flex;
  height: 6rem;
  padding-top: 1.5rem;
  border: 2px solid rgb(104, 100, 100);
  background-color: rgb(199, 198, 198);
  font-size: 1.5rem;
  color: black;
  width: 100vw;
  justify-content: center;
  font-size: 2rem;
  margin-top: 2rem;
}


.btn-project:active {
  transform: translateX(3rem);
  transition: transform 200ms ease;
}

.break {
  height: 1px;
  background: rgb(165, 160, 160);
  margin-bottom: 1rem;
}

.btn-project:hover {
  color: white;
  background-color: rgb(46, 44, 44);
  border-color: white;
}

input, textarea {
  background-color: rgb(196, 191, 191);
  padding: 5px;
  font-size: 1rem;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

input:focus, textarea:focus {
  outline: none;
  background-color: gray;
}

.fade-up {
  animation: fadeup 400ms ease;
}

.fade-left {
  animation: fadeleft 400ms ease;
}

.footer {
  background-color: rgba(48, 45, 45, 0.171);
  margin-top: 2.5rem;
  width: 100vw;

}

.footer ul {
  display: flex;
  justify-content: center;
  padding: 5px;
  gap: 1rem;
}

@keyframes fadeup {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }

  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes fadeleft {
  from {
    transform: translateX(-3rem);
    opacity: 0;
  }

  to {
    transform: translateX(0rem);
    opacity: 1;
  }
}


@media (min-width: 600px) {

  .navbar-mobile {
    display: none;
  }

  .navbar-desktop {
    display: block;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    margin-top: 0px;
    text-align: center;
    width: 100%;
    transition: font-weight 300ms ease-out;
    pointer-events: all !important;
  }

  .header-title {
    position: absolute;
    position: relative;
    text-align: center;
    display: block;
    /* right: auto; */
    padding-bottom: 0.5rem;
    font-size: 3rem;
  }


  .footer-icons:hover {
    transform: translateY(-5px);
  }

  .header-title {
    background-color: var(--var-bg-a);
  }

}

@media (min-width: 310px) {
  .navbar, a {
    padding: 0 1rem;
  }

  .icon-grid {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    padding-bottom: 5rem;
    column-gap: 0rem;
  }

}

@media (min-width: 400px) {
  .btn-project {
    padding-left: 8rem;
    font-size: 2rem;
    margin-top: 2rem;
    width: auto;
    justify-content: left;
  }

  .icon-grid {
    grid-template-columns: repeat(4, 25%);
  }

  .hover-bold {
    transition: font-weight 200ms ease-out;
  }

  .hover-bold:hover {
    font-weight: 600;
    transition: font-weight 100ms ease-out;
  }

  .footer {
    /* position: fixed;
    bottom: 0; */
    /* position: relative; */
  }

}

@media (min-width: 240px) {
  .header-title {
    display: block;
  }

  .font-md {
    word-break: normal;
  }
}