.container {
  position: relative;
  width: fit-content;
  margin: auto;
  font-size: 1.3rem;
  padding-top: 1rem;
  text-align: center;
}

.container span {
  font-size: 2.4rem;
}

.intro {
  margin-top: 1rem;
  text-align: left;
  padding: 0 2rem;
}

.skills {
  margin-top: 4rem;
}

@media (min-width: 360px) {
  .intro {
    padding: 0;
  }
}

@media (min-width: 260px) {
  .intro {
    max-width: 25rem;
    /* margin: none; */
    text-align: center;
  }
}