.container {
  position: relative;
  width: fit-content;
  margin: auto;
  font-size: 1.3rem;
  padding-top: 1rem;
  text-align: center;
}


.intro {
  /* max-width: 25rem; */
  /* padding-top: 0.5rem; */
  /* padding: 0 10px; */
  /* width: 90%; */
  /* margin: auto; */
  margin-top: 1rem;
  text-align: left;
  padding: 0 2rem;
  /* border: 1px solid yellow; */
}

.skills {
  margin-top: 4rem;
}

@media (min-width: 360px) {
  .intro {
    padding: 0;
  }
}

@media (min-width: 260px) {
  .intro {
    max-width: 25rem;
    /* margin: none; */
    text-align: center;
  }
}