.container {
  width: fit-content;
  margin: auto;
  font-size: 1.3rem;
  padding-top: 2rem;
}

.intro {
  max-width: 30rem;
  padding-top: 0.5rem;
}

@media (min-width: 260px) {
  .intro {
    padding-left: 3rem;

  }
}