.container {
    display: flex;
    flex-direction: column;
}

.thumbnail {
    cursor: pointer;
    /* box-shadow: 0 5px 1px 0 white; */
}

.img {
    width: 100%;
    height: auto;
}

.title {
    text-align: center;
    font-weight: 500;
}

.subtitle {
    text-align: center;
    font-weight: 700;
    background-color: rgb(54, 52, 52);
}

.body {
    /* width: 80%; */
    text-align: center;
    padding: 0 3rem;
}

@media (min-width: 680px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 20rem);
        justify-content: center;
        gap: 2.5rem;
    }

    .img {
        max-width: 100%;
        width: max-content;
        object-fit: cover;
    }

    .body {
        text-align: left;
    }
}