.container {
    display: flex;
    flex-direction: column;
}

.thumbnail {
    cursor: pointer;
    /* box-shadow: 0 5px 1px 0 white; */
    /* border: 3px solid red; */
}

.img {
    width: 100%;
    height: auto;
}

.title {
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 3px;
    margin-top: 2rem;
    word-break: break-all;
}

.subtitle {
    /* text-align: center; */
    font-weight: 500;
    background-color: rgb(54, 52, 52);
    width: 8rem;
    padding: 4px 0;
    padding-left: 1rem;
    transition: width 200ms ease-out;
}

.body {
    padding: 5px;
    padding-left: 1rem;
    transform: translateY(-1.5rem);
    background: rgb(53, 52, 52);
}

.body h3 {
    font-size: 1.2rem;
    font-weight: 400
}

.tags {
    display: flex;
    padding-top: 0.5rem;
    gap: 2rem;
    font-weight: 200;
    flex-wrap: wrap;
}

@media (min-width: 860px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 25rem);
        justify-content: center;
        gap: 2.5rem;
    }

    .body {
        width: 15rem;
        transition: width 200ms ease;
    }

    .thumbnail:hover .body {
        width: 100%;
        transition: width 500ms ease;
    }
}


@media (min-width: 1300px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 25rem);
        justify-content: center;
        gap: 2.5rem;
    }

    .img {
        max-width: 100%;
        width: max-content;
        object-fit: cover;
    }

    .thumbnail:nth-child(4),
    .thumbnail:nth-child(5) {
        transform: translateX(50%);
    }
}